body {
    direction: rtl;
    background-color: #E0F1FF;
}

.MPtable {
    width: 100%;
    border: 1px solid silver;
}

.MPheader {
    width: 60%;
    border: 1px solid silver;
    height: 30px;
}

.MPmenu {
    width: 100%;
    border: 1px solid silver;
    height: 20px;
    text-align: center;
}

.MPmainPage {
    width: 100%;
    border: 1px solid silver;
    height: 400px;
}

.MPfooter {
    width: 100%;
    border: 1px solid silver;
    height: 20px;
}

.MPh1 {
    color: crimson;
    text-align: center;
    font-size: 40px;
}

.MPh2 {
    color: crimson;
    text-align: center;
    font-size: 30px;
}

.myTime {
    text-align: center;
    font-family: Arial;
    font-size: 1.5rem
}
